/camera_streaming/data
/camera_streaming/video
/camera_streaming/models

/sap_ai/__pycache__
/sap_ai/models
/sap_ai/migrations
/sap_ai/data/images_data
/sap_ai/data/video
/sap_ai/data
/models


# Ignore all the __pycache__ level
**/__pycache__