{% extends 'layout.html' %}

{% block body %}
    {{message}}
    <form action="" method="POST">
        <div class="form-group">
            <label for="room_id">Room ID</label>
            <input type="text" class="form-control" name="room_id">
        </div>

        <div class="form-group">
            <label for="room_name">Room name</label>
            <input type="text" class="form-control" name="room_name">
        </div>

        <div class="form-group">
            <label for="room_position">Room position</label>
            <input type="text" class="form-control" name="room_position">
        </div>

        <div class="form-group">
            <label for="room_building">Building</label>
            <select class="form-control" style="width: max-content" name="room_building">
                <option value="alpha">Alpha</option>
                <option value="beta">Beta</option>
                <option value="gamma">Gamma</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary" name="add_room">Add</button>
    </form>
{% endblock %}