{% extends 'layout.html' %}

{% block body %}
    {{message}}
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="room_id">Room ID</label>
            <input type="text" class="form-control" name="room_id" value={{room.room_id}}>
        </div>

        <div class="form-group">
            <label for="room_name">Room name</label>
            <input type="text" class="form-control" name="room_name" value={{room.name}}>
        </div>

        <div class="form-group">
            <label for="room_position">Room position</label>
            <input type="text" class="form-control" name="room_position" value={{room.position}}>
        </div>

        <div class="form-group">
            <label for="room_building">Building</label>
            <select class="form-control" style="width: max-content" name="room_building" value={{room.building}}>
                <option value="alpha">Alpha</option>
                <option value="beta">Beta</option>
                <option value="gama">Gamma</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary" name="update_room">Update</button>
    </form>
{% endblock %}