{% extends 'layout.html' %}

{% block body %}
    {{message}}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    

    <form action="" method="POST" enctype="multipart/form-data">
        <h1>Upload Video</h1>
        <p><input type=file name=file>
        <!-- <div class="form-group">
            <label for="user_id">User ID</label>
            <input type="text" class="form-control" name="user_id">
        </div> -->
        <div class="form-group">
            <label for="user_id">Roles</label>
            <select class="form-control" style="width: max-content" name="user_id">
                {% for user in users %}
                    <option value="{{user.user_id}}">{{user.user_id + " | " +user.first_name + " " + user.last_name}}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary" name="add_new">Add</button>
    </form>
{% endblock %}